h1 {
  text-align: center;
}

#color-palette {
  text-align: center;
}
.color {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 10%;
}
#preto {
  background-color: black;
}
#cor2 {
  background-color: red;
}
#cor3 {
  background-color: blue;
}
#cor4 {
  background-color: green;
}
.selected {
    opacity: 65%;
    /* width: 35px;
    height: 35px; */
}

#container {
    text-align: center;   
    margin: 10px; 
}
#clear-board {
    padding: 5px;
    border-radius: 10%;
}

.linha {
  margin-top: -5px;
}

#pixel-board {
  border-collapse: collapse;
  text-align: center;
}

#pixel-board .pixel {
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  text-align: center;
}

.pixel {
  background-color: white;

  width: 40px;
  height: 40px;
  border: 1px solid black;
}
